<h1 align="center" class="display-5 mb-20">{{title}}</h1>
<div class="row text-center justify-content-center ">
  <div class="col-lg-6 ">
    <div class="card mb-4 details">
      <img class="card-img-top " src="{{productInfo?.productIcon}}">
      <div class="card-body">
        <h4 class="card-title ">{{productInfo?.productName}}</h4>
        <form name="form" #form='ngForm' (ngSubmit)="productInfo?.productStatus == 0 && addToCart()">
          <div class="text-left">
            <input hidden name="productId" [value]=productInfo?.productId>
            <p class="card-test sizer"><strong class="sizer">Description: </strong>{{productInfo?.productDescription}}
            </p>
            <p class="card-text">
              <strong class="sizer">Price: </strong>
              <label id="price" class="sizer">{{productInfo?.productPrice | currency: 'INR'}}</label>
            </p>
            <p class="card-text sizer" class="sizer"><strong>Stock: </strong>{{productInfo?.productStock}}</p>

            <label class="card-text">
              <strong class="sizer">Quantity: </strong>
              <input [(ngModel)]=count (change)="validateCount()" type="number" name="count" required min="1"
                [max]=productInfo?.productStock>
            </label>


            <p class="card-text"><strong class="sizer">Subtotal: </strong>
              <label id="subtotal" class="sizer">{{count * productInfo?.productPrice | currency: 'INR'}}</label>
            </p>
          </div>

          <i *ngIf="currentUser && addedToWishlist" class="fas fa-heart fa-3x het"
            (click)="handleRemoveFromWishList(productInfo.productId)"></i>
          <i *ngIf="currentUser && !addedToWishlist" class="far fa-heart fa-3x  het"
            (click)="handleAddToWishList(productInfo.productId)"></i>

          <button type="submit" [disabled]="!form.form.valid" *ngIf="productInfo?.productStatus == 0; else offBlock"
            class="btn btn-primary btn-lg">Add to Cart
          </button>
          <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
        </form>

      </div>
    </div>
  </div>
</div>